 </div>
        <div class="pt-8 text-base font-semibold leading-7">
            <p class="font-light leading-4">
            No. 28, Port Harcourt Crescent, Off Gimbiya Street, P.M.B 564, Area 11, Garki, Abuja, Nigeria. <br />
            <a href="mailto:info@nitda.gov.ng" target="_blank">info@nitda.gov.ng </a> | <a href="tel:+2348168401851" target="_blank">+2348168401851</a> | <a href="tel:+2340752420189" target="_blank">+234 0752420189</a> |
            <a href="tel:+23492920263">+23492920263</a>
          </p>
          <p>All rights reserved &copy;2023</p>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>